body{
    font-family: sans-serif;
    font-size: 20px;
    padding: 0 20px 30px 0;
    line-height: 1.8;
    background-color: rgb(2, 2, 94);
}
.header{
    color: aliceblue;
    margin: 21px auto;
}
#input{
    color: aliceblue;
    padding: 2px 30px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.nav_item{
    color: aliceblue;
    padding: 2px 30px;
}
#bubsort{
    padding: 2px 30px;
    background-color:#0a0a23;
    color: #fff;
}
.btn_newArray{
    background-color:#0a0a23;
    color: #fff;
}
.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;
    transition: 2s all ease;

}
.flex-item{
    background:greenyellow;
    border: 1pt solid black;
    width: 10px;
    transition: 0.1s all ease;
}